@import url("https://css.gg/css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #08040e;
}


.font-p {
    font-family: "Montserrat", sans-serif;

}

.font-t {

    font-family: "Cabin", sans-serif;
}

.scrollIcon{
    animation : scrollingIcon 1.5s infinite;

}

@keyframes scrollingIcon {
    80%{
        margin-top:1rem;
    }
    100%{
        margin-top:0px;
    }
}
.selfCaption{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Nombre de lignes à afficher avant d'appliquer l'ellipse */
    text-overflow: ellipsis;
}